In [1]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [19]:
df_c = pd.read_csv('cast.csv')
df_c.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [4]:
print(f"Number of Titles in Dataframe are : {titles.title.count()} ")

Number of Titles in Dataframe are : 244914

### What are the earliest two films listed in the titles dataframe?

In [5]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [7]:
print(f"There are {titles.title[titles.title == 'Hamlet'].count()} such records")

There are 20 such records

### How many movies are titled "North by Northwest"?

In [8]:

print(f"There are {titles.title[titles.title == 'North by Northwest'].count()} such records")

There are 1 such records

### When was the first movie titled "Hamlet" made?

In [9]:
print("Details of the first hamlet movie are as following : ")
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

Details of the first hamlet movie are as following :

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [11]:
titles[titles.year == 1950].year.count()

1113

### How many movies were made in the year 1960?

In [12]:
titles[titles.year == 1960].year.count()

1549

### How many movies were made from 1950 through 1959?

In [13]:
titles[(titles.year > 1950) & (titles.year <= 1969)].title.count()

29797

### In what years has a movie titled "Batman" been released?

In [14]:
titles[titles['title']=='Batman'].year.to_list()

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [20]:
count = df_c[df_c.title == 'Inception'].character.unique()
len(count)

56

In [21]:
df_c[df_c.title == 'Inception'].n.isnull().sum()

27

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [22]:
df_c[df_c.title == 'Inception'].n.count()

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [28]:
df_c[df_c.title == 'Inception'].dropna(axis=0).sort_values('n')

,title,year,name,type,character,n
590576,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
859993,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
940923,Inception,2010,Tom Hardy,actor,Eames,4.0
2406531,Inception,2010,Ken Watanabe,actor,Saito,5.0
1876301,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1615709,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
2765969,Inception,2010,Marion Cotillard,actress,Mal,9.0
1826027,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
326745,Inception,2010,Michael Caine,actor,Miles,11.0
910757,Inception,2010,Lukas Haas,actor,Nash,12.0
1309851,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
2932657,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
1668790,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
2932664,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
812135,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
1455534,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1701902,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
333415,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
967176,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
3359825,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
709436,Inception,2010,Russ Fega,actor,Cab Driver,23.0
1170785,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
433867,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
2807441,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
3151982,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
517227,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
2776554,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
737322,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
3158892,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
444385,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
1618527,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
2267383,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
3343512,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
2614557,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
1861317,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
832083,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
3225843,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3203564,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
807795,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
2049179,Inception,2010,Felix Scott,actor,Businessman,46.0
1812091,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [27]:
df_c[df_c.title == 'North by Northwest'].dropna(axis=0).sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [25]:
df_c[(df_c.title == 'Sleuth') & (df_c.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [26]:
df_c[(df_c.title == 'Sleuth') & (df_c.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [29]:
df_c[(df_c.title == 'Hamlet') & (df_c.year == 1921)].character.count()

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [30]:
df_c[(df_c.title == 'Hamlet') & (df_c.year == 1996)].character.count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [31]:
print("The number of Hamlet roles that have been listed in all film credits throughout the history are:")
print(len(df_c[(df_c.title == 'Hamlet')]))

The number of Hamlet roles that have been listed in all film credits throughout the history are:
342

### How many people have played an "Ophelia"?

In [32]:
df_c[df_c.character == 'Ophelia'].character.count()

117

### How many people have played a role called "The Dude"?

In [33]:
df_c[df_c.character == 'The Dude'].character.count()

19

### How many people have played a role called "The Stranger"?

In [34]:
df_c[df_c.character == 'The Stranger'].character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [35]:
df_c[df_c.name == 'Sidney Poitier'].name.count()

43

### How many roles has Judi Dench played?

In [36]:
df_c[df_c.name == 'Judi Dench'].name.count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [37]:
df_c[(df_c.name == 'Cary Grant')&(df_c.n == 2)&(df_c.year >= 1940)&(df_c.year <= 1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [38]:
df_c[(df_c.name == 'Cary Grant') & (df_c.n == 1)&(df_c.year >= 1940)&(df_c.year <=1949)].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [39]:
len(df_c[(df_c.year >= 1950)&(df_c.year < 1960) & (df_c.type == 'actor')].type)

157738

### How many roles were available for actresses in the 1950s?

In [40]:
len(df_c[(df_c.year >= 1950)&(df_c.year < 1960) & (df_c.type == 'actress')].type)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [41]:
df_c[(df_c.n == 1)&(df_c.year <= 1980)].character.count()

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [42]:
(df_c[df_c.year <= 1980].character.count()) - (df_c[(df_c.n == 1)&(df_c.year <= 1980)].character.count())

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [43]:
df_c[df_c.year == 1980].n.isnull().sum()

4466